.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Portrait orientation - when height > width */
@media (orientation: portrait) {
  .Container {
    justify-content: space-between;
  }
}

.Professor{
  column-count: 5;
  column-gap: 3rem;
  display: flex;
  flex: 1;
  overflow: visible;
  justify-content: center;
  color: #fff;
  padding-top: 170px;
  padding-bottom: 560px;
  padding-left: 200px;
  padding-right: 8px;
  }


.Professor > p {
  position: absolute;
  left: calc(2% + 475px);
  font-size: 25px;
  color: #363F5; 
  margin-top: -50px;
  white-space: nowrap;
  transform: translateX(-50%);
}


.box1 {
  text-align: justify;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 950px;
  height: 500px;
  top: 20%;
  left:2%;
  border-radius: 20px;
  padding-top: 6px;
  padding-left: 230px;
  padding-right: 15px;

  overflow-y: scroll;

}

.box1 ul {
  font-size: 16px;
  color: #363F5; 
  text-align: center;
  margin-top: 50px;
  white-space: nowrap;
  list-style: none;
  padding: 0;
}

.box1 b {
  font-size: 16px;
  color: #363F5; 
  text-align: center;
  margin-top: 1px;
  display: block;
  margin-bottom: 0;
}

.box1 p {
  font-size: 12px;
  color: #363F5; 
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0;
}

.box2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255,255,255,.2);
  background-color: rgba(255,255,255, 0.2);
  position: absolute;
  width: 180px;
  height: 180px;
  top: 3%; 
  left:2%;
  padding: 10px;
  border-radius: 20px;
  gap: 5px;
  margin-bottom: -100px;
  background: linear-gradient(90deg, rgba(2,0,36,0.1) 0%, rgba(63,9,121,0.1)),
  url('https://i.imgur.com/eF493yp.png') center/cover;

}


.box1 nav {
  text-align: center;
}

.box1 nav a {
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
}

nav a{
  list-style: none;
}

nav a:hover {
  color: rgba(147 106 235);
  transition: 0.1s;
}


.staticFigure img {
  height: 40rem;
  margin-top: -83px;
  padding-left: 300px;
  margin-bottom: -500px;
}

@media screen and (max-width: 1000px) {
  .Professor.Professor {
    padding: 20px !important;
    flex-direction: column !important;
  }
  
  .box1.box1 {
    width: 90vw !important;
    height: 50vh !important;
    padding: 20px !important;
    left: 5% !important;
    top: 15% !important;
    font-size: 14px !important;
    z-index: 10 !important;
  }
  
  .box2.box2 {
    width: 100px !important;
    height: 100px !important;
    left: 5% !important;
    top: 5% !important;
    z-index: 10 !important;
  }
  
  .staticFigure.staticFigure img {
    width: 8rem !important;
    height: 8rem !important;
    object-fit: contain !important;
    position: absolute !important;
    right: 5% !important; 
    top: 70% !important;
    padding-left: 0 !important;
    margin: 0 !important;
    z-index: 1 !important;
  }
}

@media (max-width: 430px) {
  .box1.box1 {
    top: calc(15% + 180px) !important;
    padding-left: 20px !important;
    padding-top: 20px !important;
  }
  
  .box2.box2 {
    position: absolute !important;
    top: calc(15% + 100px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    float: none !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    max-width: 20px !important;
    max-height: 20px !important;
    aspect-ratio: 1/1 !important;
    border-radius: 4px !important;
    margin: 0 !important;
    background-size: cover !important;
    background-position: center !important;
  }
  
  .box1 nav {
    margin-top: -10px !important;
    margin-bottom: 5px !important;
  }
  
  .box1 ul {
    margin-bottom: -5px !important;
  }
}