.Container {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  max-height: 100vh !important;
  overflow: hidden !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Portrait orientation - when height > width */
@media (orientation: portrait) {
  .Container {
    justify-content: space-between;
  }
}

.Auditory {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden !important;
}

.box ul {
  font-size: 28px;
  color: #363F5;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 18vw);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.textContent {
  font-size: 14px;
  text-align: justify;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;
  flex: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: -430px;
  position: relative;
  z-index: 100010;
}

.auditory1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.auditory1 img {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.auditory2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.auditory2 img {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 600px;
  height: 600px;
  top: calc(50% - 5px);
  left: 50%;
  transform: translate(calc(-50% - 330px), -50%);
  padding: 20px;
  border-radius: 20px;
  margin: 0;
}

@media (min-width: 1201px) {
  .box {
    top: calc(50% + 50px);
  }
}

.box nav a {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .box {
    width: 90%;
    max-width: 600px;
    height: auto;
    min-height: 600px;
    top: 200px;
    transform: translateX(-50%);
  }

  .box ul {
    font-size: 20px;
  }

  .gallery {
    grid-template-rows: repeat(1, 22vw);
  }

  .buttonContainer {
    margin-top: -580px;
  }
}


@media (max-width: 800px) {
  .box {
    width: 95%;
    max-width: 500px;
    height: auto;
    min-height: 550px;
    top: 200px;
    transform: translateX(-50%);
  }

  .box ul {
    font-size: 18px;
  }

  .gallery {
    grid-template-rows: repeat(1, 28vw);
  }

  .buttonContainer {
    margin-top: -580px;
  }
}

@media (max-width: 400px) {
  .box {
    width: 95%;
    max-width: 350px;
    height: auto;
    min-height: 300px;
    max-height: 500px;
    top: 200px;
    transform: translateX(-50%);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .box ul {
    font-size: 16px;
  }

  .gallery {
    grid-template-rows: repeat(1, 35vw);
  }

  .buttonContainer {
    margin-top: -580px;
  }
}


/* Scroll dentro da box para resoluções 390x844 ou menores */
@media (max-width: 390px) and (max-height: 844px) {
  .box {
    max-height: 60vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch !important;
  }

  .buttonContainer {
    margin-top: -40px;
  }
}

